img{
    width: 40%;
    border-radius: 20px;
}

.img-container{
    width: 30%;
}
.card{
        margin-top: 20px;
        cursor: pointer;
        margin-left: 35px;
        width:22%;
    
}
.bttn{
    text-align: center;
}
.card-img-top{
    width: 310px;
    height: 200px;
    padding: 7px;
    cursor: pointer;
}

h4{
    font-size: 15px;
    
}
.close{
    background-color: rgba(251, 109, 58, 0.1);
    color: #FB6D3A;
    float: right;
    margin-left: 10px;    
    border-radius: 10px;
    font-size: 14px;
}
    .fa-trash{
        color: red;
        font-size: 20px;
    }
