#btn{
    text-align: center;
}
.defective-blocks{
    font-size: 10px;
    color: red;
}
 input.ng-invalid.ng-touched{
    border: 3px solid red;
    box-shadow: 0 0 22px #ff000030 inset;

}
input.ng-valid.ng-touched{
    border: 3px solid green;
<<<<<<< HEAD
    box-shadow: 0 0 22px lightgreen inset;

}
.btn-light{
    border-radius: 50%;
}
button{
    margin-right: 29%;
=======
}
.sub{
    margin-left: -3%;
}
.newproject{
    font-family: cursive;
    color: deeppink;
}
text{
    font-size: 35px;
}
  h1{
    text-align: center;
  }
  i{
    color: darkgreen;
  }
  path {
    fill: transparent;
  }
  
  text {
    fill: #FF9800;
  }
  .fa-list{
    color: darkblue;
  }
  
  
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}
button{
    /* margin-left: 20%; */
>>>>>>> 73baabb41d6de6dadf2727d158f7ec3cbc273ba8
}
.bttn{
    border-radius: 35%;
}
.bttn1{
    border-radius: 35%;
}
.bttn2{
    border-radius: 35%;
}.bttn3{
    border-radius: 35%;

}.bttn4{
    border-radius: 35%;

}.bttn5{
<<<<<<< HEAD
    border-radius: 40%;
}
h1{
    text-align: center;
  }
  i{
    color: darkgreen;
  }
  .fa-list{
    color: darkblue;
  }
  input{
    border: 2px solid purple;
    box-shadow: 0 0 22px lightpink ;

  }
  .btn:hover{
    background-color:cornflowerblue;
}
  
=======
    border-radius: 35%;
}
>>>>>>> 73baabb41d6de6dadf2727d158f7ec3cbc273ba8

