.defective-blocks{
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 10px;
>>>>>>> 73baabb41d6de6dadf2727d158f7ec3cbc273ba8
    color: red;
}
 input.ng-invalid.ng-touched{
    border: 3px solid red;
    box-shadow: 0 0 22px #ff000030 inset;
}
input.ng-valid.ng-touched{
    border: 3px solid darkgreen;
    box-shadow: 0 0 22px lightgreen inset;

}
.form-control{
    /* width: 70%  */
    
}
.form{
     text-align: center;
     width: 50%;
}
