.defective-blocks{
    font-size: 20px;
    color: red;
}
 input.ng-invalid.ng-touched{
    border: 3px solid red;
    box-shadow: 0 0 22px #ff000030 inset;
}
input.ng-valid.ng-touched{
    border: 3px solid darkgreen;
    box-shadow: 0 0 22px lightgreen inset;

}
.form-control{
    /* width: 70%  */
    
}
